objetivos del proyecto

- Estructuras HTML
- Funciones 
- Objetos
- Arrays
- Algun metodo (funcion de orden superior) de los Arrays
- yapa: Practicar DOM


----------------------------------
Ecomers de guitarras 

secciones
  -guitarras
    -electricas 
    -electroacusticas
    -acusticas 


carrito donde puedas comprar o quitar 
guitarras q vos quieras

